*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.word-container{
    height: 40px;
    width: 280px;
}

.word-container h1{
    border-right: 2px solid red;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    margin: auto;
    /* animation: word 2s ease 1ms forwards, blink 0.2s step-end infinite; */
}
@keyframes word {
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}

@keyframes blink {
    from{
        border-color: transparent;
    }
    50%{
        border-color: red;
    }
}


.value h1{
    height: 50px;
    width: 50px;
    border: 5px solid;
    border-color: green transparent transparent transparent;
    border-radius: 50%;
    /* animation: round 1.3s linear 1ms 1; */
}

@keyframes round {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.center h1{
    animation: center2 1s ease 1ms forwards;
}
@keyframes center2 {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX();
    }
}

.load{
    height: 50px;
    width: 50px;
    border: 4px solid;
    border-color: rgb(77, 14, 235) transparent transparent transparent;
    border-radius: 50%;
    /* animation: load 1s linear 1ms infinite backwards; */
}

@keyframes load {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.form{
    min-height: 400px;
    width: clamp(200px, 50%, 400px);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form .item{
    margin-bottom: 20px;
    position: relative;

    input{
        border: none;
        outline: none;
        border-bottom: 2px solid black;
    }
    label{
        pointer-events: none;
    }
}

.item label{
    position: absolute;
    left: 0;
    transition: transform 0.5s linear;
}

.item input:focus + label, .item input:valid + label{
    transform: translateY(-12px);
}