* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        'Header'
        'Main'
        'Footer';
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr auto;
}

header {
    grid-area: Header;
    width: 100%;
    background-color: red;
    position: sticky;
    top: 0px;
    z-index: 99;
}

main {
    grid-area: Main;
    background-color: aliceblue;
}

Footer {
    grid-area: Footer;
    background-color: brown;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 20px;

}

nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 8vh;
    list-style-type: none;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.8);
    height: 35%;
    align-items: center;
    justify-content: center;
    z-index: 999;

    li {
        padding: 20px;
        margin: 2px;

        a {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

section {
    margin: 8px 0px;
}

nav .nav-button button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
}

.roll {
    width: 99%;
    display: flex;
    height: auto;
    overflow: hidden;
    margin: auto;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        animation: roll 10s linear 1ms infinite;
    }
}

@keyframes roll {
    from {
        transform: translatex(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 320px;
    gap: 10px;
}


.product-items {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
}

.product-items:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-items .picture {
    height: 150px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.product-items .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.product-items .title h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.product-items .discription p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 10px;
}

.product-items del {
    color: #888;
    margin-right: 10px;
}

.product-items ins {
    color: #e60023;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 769px) {
    nav .nav-button button {
        display: none;
    }

    nav ul {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    nav ul li {
        padding: 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
    }
}