.container {
    width: 80vw;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-evenly;
    box-sizing: border-box;background-image: linear-gradient(180deg, red, blue);
}

.container div {
    height: 200px;
    width: 230px;
    background-color: blanchedalmond;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 5px;
}
p {
    padding: 3px;
}

.container1 {
    width: 90vw;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;background-image: linear-gradient(180deg, rgb(243, 46, 138), rgb(25, 150, 62));
}


.container1 div {
    height: 200px;
    width: 230px;
    background-color: rgb(161, 157, 224);
    border: 2px solid black;
    box-sizing: border-box;
    margin: 5px;
}

.container1 div:nth-child(2){
    flex-grow: 1;
    background-color: aqua;
}

.container1 div:nth-child(3){
    flex-shrink: 2;
    background-color: greenyellow;
}
.container1 div:nth-child(5){
    flex-basis: 180px;
    background-color: pink;
}