* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::selection {
    background-color: purple;
    color: white;
}

#header {
    width: 100%;
    height: 75px;
    background-color: rgb(145, 157, 206);
    border-radius: 3px;
    padding: 1px;
    margin: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

#header h1::before {
    content: "#";
    color: black;
    font-weight: 800;
    font-size: xx-large;
}

body {
    background-color: rgb(238, 232, 232);
    min-width: 450px;
}

nav {
    background-color: rgb(161, 171, 211);
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: rgb(46, 39, 39);
    padding: 2px;
}

h2,
h4 {
    padding: 5px;
    font-weight: 400;
    font-style: oblique;
    font-variant: small-caps;
}

.Home-heading h4 {
    padding-top: 0px;
    font-style: normal;
}

.Home-heading h4 span {
    text-shadow: 1px 1px 2px purple;
}

.Home-heading p {
    text-indent: 50px;
    padding: 5px;
    text-align: justify;
    margin: 5px;
}

.Home-heading img {
    float: left;
    margin: 20px;
    border-radius: 10px;
}

.side {
    margin: 3px;
    width: 100%;
    height: auto;
    border: 2px hidden;
}

hr {
    clear: both;
}

#Today span {
    text-shadow: 2px 3px 2px red;
}

.todaycontainer {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.today-item1 {
    width: 350px;
    height: 400px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: black 2px solid;
    margin: 4px;
}

.todaycontainer>div img {
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 250px;
}

.today-item1 h4 {
    text-indent: 10px;
    font-weight: 800;
}

.today-item1:hover {
    background-color: bisque;
}

.item-para {
    width: 80%;
    text-align: justify;
    margin-top: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-indent: 30px;
    font-size: 14px;
}

.item-para::first-letter {
    color: rebeccapurple;
    font-size: larger;
    font-weight: 900;
}

.scroll {
    overflow: auto;
    height: 150px;
}

.chatbot {
    height: 30px;
    width: 50px;
    background-color: purple;
    color: white;
    padding: 1px;
    border: black 2px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    position: fixed;
    bottom: 3px;
    right: 3px;
}

.chatbot:hover {
    background-color: brown;
    height: 40px;
    width: 60px;
}

aside{
    float:right;
    height: 150px;
    width: 20%;
    border: 2px solid purple;
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: auto;
}
aside div{
    text-align: justify;
    margin: 5px;
}
.economypara{
    text-align: justify;
    margin: 5px;
    width: 600px;
}
.economypara p{
    padding-right: 2px;
}