#flex {
    border: 2px solid black;
    padding: 10px;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1[title|=check] {
    text-align: center;
    background-color: aqua;
}

span[title~=check] {
    background-color: blue;
}

span[title*=ch] {
    color: whitesmoke;
}

span[title$="ue"] {
    display: inline-block;
    font-size: x-large;
}

.box {
    text-align: center;
}

.container {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    position: relative;
}

.container-item {
    height: 100px;
    border: 2px solid red;
    width: 100px;
    background-color: greenyellow;
    margin: 99px;
}

.con-item-list1 {
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    margin: auto;
    top: 0;
    border: 2px solid white;
    bottom: 0;
    left: 0;
    right: 0;
}

.con-2 {
    margin-top: 5px;

}

.conitem1 {
    background-color: pink;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-center {
    background-color: red;
    height: 20px;
    width: 50px;
    position: absolute;
    left: 50%;
    border: 2px solid black;
    margin: 2px;
    transform: translateX(-50%);
}

.horizontal-center2 {
    background-color: red;
    height: 20px;
    width: 50px;
    position: absolute;
    border: 2px solid black;
    margin: 2px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

div[class*="vertical"] {
    background-color: red;
    height: 20px;
    width: 50px;
    position: absolute;
    border: 2px solid black;
    top: 50%;
    margin: 2px;
}

.vertical-center1 {
    transform: translateY(-50%);
}

.vertical-center2 {
    transform: translateY(-50%);
    right: 0px;

}

.container, .boxvalues {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline wavy green 1px;
    text-decoration-skip-ink: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-weight: 200;
    font-variant: small-caps;
    font-style: oblique;
    letter-spacing: 2px;
}

.container ::first-letter {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}
.boxvalues ::first-letter {
    color:rebeccapurple;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

.conitem1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.boxvalues {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
}

.index {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-top: 5px;
}

#flex>div {
    margin: 5px;
}

.zbox{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    position: relative;
    margin: 2px;
}

.box1{
    background-color: gold;
    top: 50%;
    left: 80px;
    z-index: -1;
}
.box2{
    background: red;
    top: 18px;
    left: 160px;
    z-index: 2;
}
.box3{
    background: rgb(12, 65, 35);
    left: 120px;
    z-index: 1;
}