* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}

h1 {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.container-word {
    width: 440px;
}

.mini-box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    position: relative;

    .jump {
        background-color: purple;
        position: absolute;
        border-radius: 50%;
        animation: jump 1s linear 1s infinite normal backwards;
    }
}

@keyframes jump {
    0% {
        inset: 50px 0 0 0;
    }

    25% {
        inset: 0 50px 0 0;
    }

    50% {
        inset: 0 0 50px 0;
    }

    75% {
        inset: 0 0 0 50px;
    }

    100% {
        inset: 50px 0 0 0;
    }
}

.loading{
    height: 100px;
    width: 100px;
    border: 5px solid transparent;
    border-top: 5px solid green;
    border-radius: 50%;
    animation: load 1s linear 1ms infinite;
}

@keyframes load {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}