:root {
    --padding-small: clamp(0.25rem, 0.5vw, 0.75rem);
    --padding-medium: clamp(0.5rem, 1vw, 1.25rem);
    --padding-large: clamp(1rem, 2vw, 2rem);

    --margin-small: clamp(0.25rem, 0.5vw, 0.75rem);
    --margin-medium: clamp(0.5rem, 1vw, 1.25rem);
    --margin-large: clamp(1rem, 2vw, 2rem);

    --background-color: whitesmoke;
    --second-color: black;
    --third-color: hotpink;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: Main;
    width: 100%;
    height: calc(100vh - 8vh);
}

footer {
    grid-area: Footer;
    background-color: black;
    color: white;
}


.contact-container {
    height: 75%;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px var(--third-color);
    padding: 50px;
    background-image: linear-gradient(to right bottom, rgba(147, 67, 67, 0.216), rgba(44, 44, 167, 0.605), rgba(68, 207, 68, 0.595), rgba(152, 56, 104, 0.614));
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 5px;
}

.contact-container form {
    display: grid;
    grid-template-rows: 1fr;
}

.input {
    margin-bottom: 20px;
    position: relative;
}

.input input {
    width: 100%;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    outline: none;
}

.input-text textarea {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: var(--margin-small);
    background-color: transparent;
    outline: none;
    padding: var(--padding-small);
}

.button-value {
    display: flex;
    justify-content: center;
}

form .button-value button {
    height: 40px;
    width: 80px;
    border-radius: 8px;
    position: relative;
    margin-top: var(--margin-medium);
    background-color: var(--third-color);
}

.input label {
    position: absolute;
    top: 10px;
    left: 0px;
    pointer-events: none;
    transition: 0.8s ease;
}

.input input:focus+label,
.input input:valid+label {
    top: -12px;
}

h5 {
    text-align: center;
    margin-top: var(--margin-large);
}


@media (max-width:426px) {
    .contact-container {
        width: 300px;
        padding: 30px;
    }

    .input input:focus+label,
    .input input:valid+label {
        top: -10px;
    }

    .input-text textarea {
        height: 40px;
    }

    form .button-value button {
        height: 30px;
        width: 70px;
    }
}

/* for hover effect */
@media (hover: hover) {

    form button:hover {
        transform: scale(1.02);
        transition: 0.4s ease;
        box-shadow: 2px 2px 2px black;
        background-color: var(--background-color);
    }

}